{% extends 'base.html.twig' %}

{% block title %}贷款信息{% endblock %}

{% block body %}
    <div id="content"> 
       <div class="mdui-input-group" id="addressList" style="display: none">
           <div  class="mdui-input-row row-left-line select-arrow">
               <div class="box-f1 select">
                    <select class="select" onchange="showLoanInfo(this.value)" id="address"  name="address"></select> 
                </div>
                <div class="arrow"></div>
           </div>    
       </div>
       
       <div class="box box-c mar-all" >
           <div id="canvasBox" >
               <canvas id="canvas" > </canvas>
           </div>
       </div>
       <div class="grid-bg-color">
          <div class='fund_grids' id="gridMny" > 
          </div>     
       </div>
       <div id="loanInfo"></div>
       <div id="msgtip" class="box box-c" style="display: none;margin-top:10em">
           <div class="box box-c">您当前没有贷款信息</div>
       </div>  
    </div>
    <div style="display: none">
       <div id="mnyCell" class='fund_grid grid-2c'>
         <div class='box box-align-c'>
          <div class='box-f1'><img src='css/images/wallet.png'></div>
             <div style='width:70%;line-height:2em'>
                <div id="name"></div>
                <div class="grid-mny" id="value"></div>                                       
             </div>
         </div>
       </div> 
       <div id="repayRecord" class='mdui-input-group fundRow_tip_bg mar-1-top'>
          <div class='mdui-input-row right-arrow '>
             <div class='box-f1 listCell'>还款记录</div>
             <div class='arrow'></div>
         </div>
       </div>
        <div id="repayPlan" class='mdui-input-group fundRow_tip_bg mar-1-top'>
            <div class='mdui-input-row right-arrow '>
                <div class='box-f1 listCell'>还款计划</div>
                <div class='arrow'></div>
            </div>
        </div>
    </div>
    
    <script type="text/javascript" > 
       $(document).ready(function(){
           initSize();
           $.setLayOut(); 
           fetchData();
       });
     [truncated]   var dataList = [];// {result=1, txchannel=1, resfilemny=0, rescode=1, pertype=21, list=[{curdepname=管理部5, loancontractno=10220110112004, busstate=贷款已开户, remark=, fundloanmny=80000, loanedate=2016-04-26, stat
       function initSize(){
           var width =$(window).width();
           var w=parseInt(width/2.1);
           if(width<=414){ w=205;} 
           $("#canvasBox").width(w);  
           $("#canvasBox").height(w);      
           $("#canvas").attr("width",w);
           $("#canvas").attr("height",w);
       }
       function fetchData(){
           $.doSubmit("",{"method": "user.queryPerLoanAccount", "v": "1.0"},function(data){
                    dataList=data.list;
                    if(dataList.length<=0){
                    $("#canvasBox").remove();
                        $("#msgtip").show();
                        return;
                    }
                    $("#msgtip").hide();
                    if(dataList&&dataList.length>=1){
                    for(var i=0;i<dataList.length;i++){
                    dataList[i].loanmnhs=dataList[i].loanmnhs/12; 
                        } 
                    }
                    fillData(dataList);
               },function(data){
                   $.toast(data.resmsg);
               },function(){
                   $.toast(data.resmsg);
               });    
       }    
       function fillData(list){
            var length = list.length;
            var options="";
            for(i=0;i<length;i++){
               options+="<option value='"+i+"'>"+list[i].address+"</option>";
            } 
            $("#address").html(options);
            if(length==0){
                $.toast("您没有贷款信息");
                $.closeWin();
                return;
            }else if(length>=2){
                $("#addressList").show();
               
            }
            showLoanInfo(0);
       } 
       function showLoanInfo(index){
            var data = dataList[index];
            Pie.drawPie("canvas",data.loanmny,data.recovmny);
            var loanMny=[];
            loanMny.push({name:"剩余本金",value:$.dataFormat(data.loanbal)+"元"});
            loanMny.push({name:"已还利息",value:$.dataFormat(data.recovratemny)+"元"});
            loanMny.push({name:"逾期本金",value:$.dataFormat(data.owemny)+"元"});
            loanMny.push({name:"逾期利息",value:$.dataFormat((parseFloat(data.oweratemny)+parseFloat(data.owepunishmny)))+"元"});
            var length= loanMny.length;
            var gridMny = $("#gridMny");
            gridMny.html("");
            for(var i=0;i<length;i++){
                var mnyCell = $("#mnyCell").clone();
                var d = loanMny[i];
                mnyCell.find("#name,#value").each(function(index){
                    $(this).text(d[this.id]);
                })
                gridMny.append(mnyCell); 
            }
            var loanCon=[];
            loanCon.push({name:"贷款合同号",value:data.loancontractno});
            loanCon.push({name:"房屋地址",value:data.address});
             //list.push({name:"贷款金额",value:data.loanmny+"元"});
            loanCon.push({name:"贷款年限",value:data.loanmnhs+"年"});
            if(data.yrate){data.yrate=data.yrate+"%"}
            loanCon.push({name:"当前利率",value:data.yrate});
            loanCon.push({name:"还款方式",value:data.repayway});
            if(data.orderpayday){
              loanCon.push({name:"约定还款日",value:"每月"+data.orderpayday+"日"});
            }
            loanCon.push({name:"所属管理部",value:data.curdepname});
            loanCon.push({name:"还款银行",value:data.bkname});
            loanCon.push({name:"还款账号",value:data.payacccode});
             //list.push({name:"贷款余额",value:data.loanbal+"元"});
             //list.push({name:"逾期本金",value:data.owemny+"元"});
             //list.push({name:"逾期利息",value:data.oweratemny+"元"});
            loanCon.push({name:"下次还款时间",value:(data.nextpaytime!=null&&data.nextpaytime.length<11?data.nextpaytime:data.nextpaytime.substr(0,10))});
            loanCon.push({name:"首次还款日期",value:data.schksj});
            var loanInfo =$("#loanInfo");
            var repayRecord = $("#repayRecord").clone();
            repayRecord.bind("click",function(){
                var index = parseInt($("select").val());
                $.val("address",dataList[index].address);
                $.val("loanConNo",dataList[index].loancontractno);
                $.openWin("perLoanRepayRd.jsp");
            });
           var repayPlan = $("#repayPlan").clone();
           repayPlan.bind("click",function(){
               var index = parseInt($("select").val());
               $.val("address",dataList[index].address);
               $.val("loanConNo",dataList[index].loancontractno);
               $.openWin("perLoanRepayPlan.jsp");
           });
            loanInfo.html(repayRecord);
            loanInfo.append(repayPlan);
            loanInfo.append("<div class='titleTip'>贷款合同信息</div>");
            loanInfo.append($.list2Row(loanCon));
            
       }
    </script>  
{% endblock %}
