{% extends 'base.html.twig' %}

{% block title %}修改密码{% endblock %}

{% block body %}
    <div id="content">      
       <div id="myform" class="mdui-input-group">
          <div class="mdui-input-row" >
             <div class="label">原始密码</div>
             <div class="box-f1">
                 <input id="pwd" class="weui_input" type="password" label="原始密码" maxlength="16" minlength="6" placeholder="请输入原始密码" >
             </div>
          </div>
          <div class="mdui-input-row" >
             <div class="label">新密码</div> 
             <div class="box-f1">
                 <input id="newpwd" class="weui_input" type="password" label="新密码" maxlength="16" minlength="6" placeholder="请输入新密码" >
             </div>
          </div>
          <div class="mdui-input-row" >
             <div class="label ">确认密码</div>
             <div class="box-f1">
                 <input id="newpwd2" class="weui_input" type="password" label="新密码" maxlength="16" minlength="6" placeholder="请确认新密码" >
             </div>
          </div>
       </div>
       <div class="box mar-all" >
          <div class="box-f1 mar-all">
             <a id="doModifyPwd"  class="fund_ui_btn fund_ui_btn_primary">确定</a>
          </div>
       </div>     
    </div> 
    <script type="text/javascript" > 
      $("#doModifyPwd").bind("click",function(){
           var params={"method": "user.modifypwd", "v": "1.0"};
           $.doSubmit("myform",params, function(data){  
                $.toast("密码修改成功");
                $.closeWin();
           }, function(data){
                $.toast(data.resmsg);
           });
      });
     
        
    </script>
{% endblock %}
