{% extends 'base.html.twig' %}

{% block title %}公积金个人业务查询{% endblock %}

{% block body %}
  <div id="fundbox" class="grid-bg-color"> 
    <div class="fund_grids" >
    {% for i in menus %}
      <div class="fund_grid  grid-3c grid-black shortcut" data-url="{{i.url}}">
        <div class="fund_grid_icon">
          <i class="icon {{i.icon}}"></i>
        </div>
        <p class="grid_label">{{i.label}}</p>
      </div>
    {% endfor %}
    </div>
</div>
<script src="{{ asset('js/z.js') }}"></script>
{% endblock %}
