<!DOCTYPE html>
<html>
    <head>
<script type="text/javascript">
	var basePath = "/netface/";
</script>
        <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.sygjj.gov.cn/netface/weixin/css/fonts/font-awesome.min.css?r=dsfsdf">
<link rel="stylesheet" href="https://www.sygjj.gov.cn/netface/weixin/css/base.css?r=dsfsdf">
<link rel="stylesheet" href="https://www.sygjj.gov.cn/netface/weixin/css/mdui/css/mdui.min.css?r=dsfsdf" />
<link rel="stylesheet" href="https://www.sygjj.gov.cn/netface/weixin/css/fund-ui-form.css?r=dsfsdf" />
<link rel="stylesheet" href="https://www.sygjj.gov.cn/netface/weixin/css/yinhai.css?rff=dsfffsdf">

<script src="https://www.sygjj.gov.cn/netface/weixin/js/jquery-1.11.1.min.js?r=dsfsdf"></script>
<script src="https://www.sygjj.gov.cn/netface/weixin/js/layer/layer.js?r=dsfsdf"></script>
<script src="https://www.sygjj.gov.cn/netface/weixin/js/yinhai.js?rd=43"></script>
<script src="https://www.sygjj.gov.cn/netface/weixin/js/netutil.js?r=65"></script>
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
