<!DOCTYPE html>
<html>
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/font-awesome.min.css?r=dsfsdf">
    <link rel="stylesheet" href="https://www.sygjj.gov.cn/netface/weixin/css/base.css?r=dsfsdf">
    <link rel="stylesheet" href="https://www.sygjj.gov.cn/netface/weixin/css/mdui/css/mdui.min.css?r=dsfsdf" />
    <link rel="stylesheet" href="https://www.sygjj.gov.cn/netface/weixin/css/fund-ui-form.css?r=dsfsdf" />
    <link rel="stylesheet" href="https://www.sygjj.gov.cn/netface/weixin/css/yinhai.css?rff=dsfffsdf">

    {% block headjs %}{% endblock %}

    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block footer %}
          <div class="tx-c" style="font-size:0.655em;color:#9B9B9B;width:95%;">
            <div >本服务由十堰住房公积金管理中心授权</div>
            <div>四川久远银海软件股份有限公司提供技术支持</div>
            <div>服务热线：12329</div>
          </div>
        {% endblock %}
    <div class="circle box box-c tx-c" id="float-btn">
      <div class="fa  fa-angle-left fa-2x" style="color:#00A1EA;display:relative;">
      </div>
    </div>
    <script src="https://res.wx.qq.com/open/js/jweixin-1.6.0.js"></script>
    <script>
    let btn = document.querySelector('#float-btn');
    btn.addEventListener('click', closeCurrWin);
    function closeCurrWin() {
      window.history.go(-1);
    } 

    wx.config({
      debug: true, // 开启调试模式,调用的所有 api 的返回值会在客户端 alert 出来，若要查看传入的参数，可以在 pc 端打开，参数信息会通过 log 打出，仅在 pc 端时才会打印。
      appId: 'wx16f10e7e59616e93', // 必填，公众号的唯一标识
      timestamp: , // 必填，生成签名的时间戳
      nonceStr: '', // 必填，生成签名的随机串
      signature: '',// 必填，签名
      jsApiList: ["hideMenuItems"] // 必填，需要使用的 JS 接口列表
    });

    wx.ready(function () {
      wx.hideMenuItems({
        menuList: [
          "menuItem:copyUrl"
        ]
      });
    });
    </script>
    </body>
</html>
