{% extends 'base.html.twig' %}

{% block title %}登录{% endblock %}

{% block body %}
	<div id="content" >
		<div class="loginlogo"></div>
		<form method="post" id="loginForm" class="mdui-input-group mar-1-top">
			<input type="hidden" id="bindcode"  name="bindcode" value="oR0-rwFTNBPw5kqD6Vew2jA42mcs">
			<div class="mdui-input-row box box-align-c">
				<div class=" fa fa-user" style="color:#00A1EA;width:2em"></div>
				<div class="box-f1">
					<input id="loginacc"  type="text"  name="_username"  placeholder="公积金账号/身份证号" label="" valid="r">
				</div>
			</div>
			<div class="mdui-input-row box box-align-c">
				<div class=" fa fa-lock" style="color:#00A1EA;width:2em"></div>
				<div class="box-f1">
					<input id="loginpwd" value="" name="_password"  placeholder="请输入密码"  class="weui_input " type="password" valid="r">
				</div>
			</div>
		<div class="mar-all mar-row-top">
    <button class="fund_ui_btn fund_ui_btn_primary" type="submit">微信绑定</button>
		</div>
		</form>
		<div class="box mar-all mar-row-top login-nav-color">
			<div id="goRegist" class="box-f1">立即注册</div>
			<div id="goRestPwd">忘记密码</div>
		</div>
		<div class="tx-c"  style="margin-top:10em;font-size:0.655em;color:#9B9B9B;width:95%;">
			
			<div >本服务由十堰住房公积金管理中心授权</div>
			<div>四川久远银海软件股份有限公司提供技术支持</div>
			<div>服务热线：12329</div>
		</div>
	</div>
{% endblock %}
